.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  


.rasm{
    background-image: url(../images/coding.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    border-radius: 4px;
    display: flex;
    justify-content: center;

}

.userpic{
    align-self: center;
    
}
.pic{
  margin-top: 150px;
  border:2px solid rgba(255, 217, 0, 0.763);
  border-radius: 50%;
}

.title{
  margin-top: 30px;
  text-align: center;
  
}
.linkakan{
  color: rgb(0, 0, 0) !important;
}
.linkakan:hover{
  color: rgb(255, 227, 67) !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
